#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 3vw); /* # columns, size*/
  grid-template-rows: repeat(10, 3vw);    
  gap: 18px;
}

.square {
  display: flex;
  align-items: center;
  color: red;
  justify-content: center;
  background-color: #ddd;
  border: 1px solid #999;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

.square:hover {
  background-color: #bbb;
}

